.TabsMain {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    width: auto;
    max-width: 700px;
    overflow-wrap: break-word;
}

.titulo {
    display: block;
    margin: 20px;
}

.tab-option {
    display: inline-block;
}